<div >


<h1> Oops! Try again tomorrow.</h1>


<div class="row">
  <div class="four columns">
   <!--  <a href="#" class="th" ><img src="http://placehold.it/350x200"></a>
    <a href="#" class="th" ><img src="http://placehold.it/350x200"></a> -->


  </div>
  <div class="four columns">
    <!-- <a href="#" class="th" ><img src="http://placehold.it/350x200"></a>
        <a href="#" class="th" ><img src="http://placehold.it/350x200"></a>
 -->
  </div>
  <div class="four columns">
    <!-- <a href="#" class="th" ><img src="http://placehold.it/350x200"></a>
        <a href="#" class="th" ><img src="http://placehold.it/350x200"></a>
 -->
  </div>
</div>
