<div class="alert-box"><h1> Sorry he's left the building. </h1><div>
<h3> Try again tomorrow.</h3>

<!-- <div class="row">
  <div class="six columns">
    <div class="panel callout radius">
      <h5>This is a callout panel.</h5>
      <p>Content...</p>
    </div>
  </div>
</div> -->


<%= image_tag("/images/elvis_behindbars.png", :alt => "Elvis baby") %>

<!-- <a href="#" class="th" ><img src="http://placehold.it/350x200"></a> -->

<!-- <br>
<br>

<i class="general foundicon-error"><p>error</p></i> -->

<!-- <a href="#" class="fc-webicon facebook">Like us on Facebook</a> -->