<h1>All Mobs</h1>
	<% @mobs.each do |mob|%>
		<table>
		<% mob.users.each do |mob_member| %>
		<tr><td><%= mob_member.name %></td></tr>
	<% end %>
		<% end %>
		</table>


<%= link_to 'Back', users_path %>