<h1>Daily Mobs</h1>
<%= link_to 'Back', users_path %>
<br>
<br>
<br>
  <div class="mob_tables">

		<% @mobs.each_with_index do |mob, index| %>	
			<table class="table_<%=index + 1%>" align='center'>  

				<th><%= link_to("Mob #{index+1}", mob) %></th>

				<% mob.users.each do |mob_member| %>  

					<tr>
						<td><%= mob_member.name %></td>
					</tr>
				
				<% end %>

			</table> 

	<% end %>
</div>
	
	




