<h1>Your Mob</h1>
<p>here's where you're going to lunch</p>
<p>and who you're going with.</p>
		
			<table class="table" align='center'>  
		
				<% @mob.users.each do | mob_member | %>  

					<tr>
						<td><%= mob_member.name %></td>
						<td><%= mob_member.phone_number%></td>
					</tr>
				
				<% end %>

			</table> 

	<%= link_to 'Back', users_path %>
