
<div align="center">




<h2>Hey <%=  @user.name.capitalize %>,<br></h2>


<h2> Thanks for signing up.</h2>

    <h3>You'll get a text at 1pm.</h3>
    <h3>Find your mob.        </h3>
    <h3>Go to lunch.</b>      </h3>





<%= link_to 'Edit', edit_user_path(@user) %>

</div>

