	<div class="row">
		<section role="main" class="narrow_width">
		  <div class="row">
		    <div class="twelve columns">

          <h2>LunchMob</h2>
          <h3>No one eats alone...</h3>
    		
          <div id="featured">
            <img src="/images/slides/retro-diners_02.jpg"/>
            <img src="/images/slides/retro-diners_04.jpg"/>
            <img src="/images/slides/retro-diners_06.jpg"/>
          </div>

        </div>
      </div>
    </div>
