




	<div class="row">
		<section role="main">
		  <div class="row">
		    <div class="twelve columns">
    			<h2>LunchMob</h2>
    			<span></span>

          <div id="featured" timer>
            <img src="/images/slides/retro-diners_02.jpg" />
            <img src="/images/slides/retro-diners_04.jpg" />
            <img src="/images/slides/retro-diners_06.jpg" />
          </div>

